WebWarehouse/bin/
WebWarehouse/obj/Debug/
WebWarehouse/App_Data/Warehouse.mdf
WebWarehouse/App_Data/Warehouse_log.ldf
packages/log4net.2.0.3/lib/net40-full/log4net.xml
UnitTestProject1/obj/Debug/build.force
